.game-memorise {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.instruction-text {
    text-align: center;
    color: var(--color-text-secondary);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.instruction-text .highlight {
    color: var(--color-accent);
}

.timer {
    color: var(--color-text-secondary);
    font-weight: 600;
    margin-top: 1rem;
}
